<%- include('../partials/header.ejs') %>
<div class="donate col s12 m7 l7">
    <h3><%= translate('DONATE_TITLE') %></h3>
    <h5><%= translate('DONATE_SUMMARY_TITLE') %></h5>
    <div class="summary">
        <label><%= translate('DONATE_SUMMARY_PERKS_FOR_LABEL') %></label>
        <% if (selectedPackage.forAccount !== null) { %>
            <span><%= translate('DONATE_SUMMARY_PERKS_FOR_YOURSELF') %></span>
        <% } else { %>
            <span><%= translate('DONATE_SUMMARY_PERKS_FOR_GIFT') %></span>
        <% } %>
        <label><%= translate('DONATE_SUMMARY_USER_LABEL') %></label>
        <span>
            <span><img class="image" src="<%= imagePath('steam_logo.png') %>"> <%= user.steam.name %> (<%= user.steam.id %>)</span>
            <span><img class="image" src="<%= imagePath('discord.svg') %>"> <%= user.username %></span>
        </span>
    </div>

    <h5><%= translate('DONATE_CUSTOM_MESSAGE_TITLE') %></h5>
    <div class="input-field custom-message">
        <textarea id="custom-message" class="materialize-textarea" maxlength="255"></textarea>
        <label for="custom-message" class="active"><%= translate('DONATE_CUSTOM_MESSAGE_LABEL') %></label>
    </div>

    <h5><%= translate('DONATE_PAYMENT_TITLE') %></h5>
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
    <div id="paypal-button-container"></div>
    <%- script('steps/donate.js') %>
</div>
<%- include('../partials/package-information.ejs') %>
<%- include('../partials/footer.ejs') %>
