<%- include('../partials/header.ejs') %>
<div class="row info">
    <div class="col s12">
        <h3>
            <%= translate('INFO_TITLE') %>
        </h3>
        <p>
            <%= translate('INFO_DESCRIPTION') %>
        </p>
    </div>
</div>
<%- include('../partials/donation_target.ejs') %>

<div class="row">
    <div class="col s12">
        <h3>
            <%= translate('PERK_SELECTION_TITLE') %>
        </h3>

        <% availablePackages.forEach(function (cat) { %>
            <% if (cat.category) { %>
                <h4 class="package-category"><%= cat.category %></h4>
            <% } %>
            <div class="packages">
                <% cat.packages.forEach(function (pack) { %>
                    <form action="/selectPackage" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="package" value="<%= pack.id %>">
                        <div class="card package">
                            <% if (pack.image) { %>
                                <div class="card-image">
                                    <img src="/assets/custom/<%= pack.image %>">
                                </div>
                            <% } %>
                            <div class="card-content">
                                <div>
                                <span class="card-title">
                                    <%= pack.name %>
                                    <% if (pack.subscription) { %>
                                        <img src="<%= imagePath('repeat_white_24dp.svg') %>"
                                             title="<%= translate('PERK_SUBSCRIPTION_AVAILABLE') %>">
                                    <% } %>
                                </span>

                                    <% if (pack.description) { %>
                                        <div><%= pack.description %></div>
                                    <% } %>
                                    <div class="package-information">
                                        <% if (pack.price.type === 'VARIABLE') { %>
                                            <div class="input-field">
                                                <input id="price" name="price-<%= pack.id %>" type="text"
                                                       pattern="^(([0-9]+)|(([0-9]+)?[.,][0-9]{1,2}))$"
                                                       title="<%= translate('PERK_SELECTION_VARIABLE_TITLE') %>"
                                                       value="<%= pack.price.amount %>">
                                                <label for="price"
                                                       class="active"><%= translate('PERK_SELECTION_VARIABLE_LABEL', {params: {currency: pack.price.currency}}) %></label>
                                            </div>
                                        <% } %>
                                        <% if (pack.perks.length !== 0) { %>
                                            <div>
                                                <%= translate('PERK_INCLUDED') %>
                                                <% pack.perks.forEach(function (p) { %>
                                                    <span><%= p.asLongString() %></span>
                                                <% }); %>
                                            </div>
                                        <% } %>
                                        <% var logins = requiredLogins(pack); %>
                                        <% if (logins.length !== 0) { %>
                                            <div>
                                                <%= translate('REQUIRED_ACCOUNTS') %>
                                                <% logins.forEach(function (l) { %>
                                                    <span><%= translate('ACCOUNT_' + l) %></span>
                                                <% }); %>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                <% if (pack.price.type === 'FIXED') { %>
                                    <div class="price">
                                        <%= pack.price.currency %> <%= pack.price.amount %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="card-action">
                                <div class="donation-action">
                                    <button class="btn waves-effect waves-light" name="perks-for" value="donate"
                                            type="submit">
                                        <%= translate('PERK_SELECTION_DONATE') %>
                                    </button>
                                    <button class="btn waves-effect waves-light" name="perks-for" value="gift"
                                            type="submit">
                                        <img src="<%= imagePath('gift.svg') %>">
                                    </button>
                                </div>
                                <% if (subscribedPackages[pack.id] === undefined) { %>
                                    <% if (pack.subscription) { %>
                                        <button class="btn waves-effect waves-light" name="perks-for" value="subscribe"
                                                type="submit">
                                            <%= translate('PERK_SELECTION_SUBSCRIBE') %>
                                        </button>
                                    <% } %>
                                <% } else { %>
                                    <a class="btn waves-effect waves-light" href="<%= subscribedPackages[pack.id] %>">
                                        <%= translate('PERK_SELECTION_VIEW_SUBSCRIPTION') %>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </form>
                <% }); %>
            </div>
        <% }); %>
    </div>
</div>

<% if (user) { %>
    <h4><%= translate('ACCOUNT_INFO_TITLE') %></h4>
    <div class="row">
        <div class="col col s10 m4">
            <%- include('../partials/steam_info.ejs'); %>
        </div>
        <div class="col col s10 m4">
            <%- include('../partials/xbox_info.ejs'); %>
        </div>
        <div class="col col s10 m4">
            <%- include('../partials/psn_info.ejs'); %>
        </div>
        <div class="col col s10 m4">
            <%- include('../partials/discord_info.ejs'); %>
        </div>
    </div>
<% } %>
<%- include('../partials/footer.ejs') %>
