<%- include('../partials/header.ejs') %>
<div class="col s12">
    <div class="card redeem">
        <div class="card-content">
            <span class="card-title"><%= translate('REDEEM_TITLE') %></span>
            <% if (redeemStatus === 'COMPLETE') { %>
                <ul class="collection">
                    <% errors.forEach(function (r) { %>
                        <li class="collection-item status">
                            <i class="material-icons error">error</i> <%= translate(...r.params) %>
                        </li>
                    <% }); %>
                    <% results.forEach(function (r) { %>
                        <li class="collection-item status">
                            <i class="material-icons success">check_circle</i> <%= translate(...r) %>
                        </li>
                    <% }); %>
                </ul>
            <% } else if (hasPerks) { %>
                <p><%= translate('REDEEM_DESCRIPTION_WITH_PERKS') %></p>
                <ul class="collection">
                    <% perks.forEach(function (p) { %>
                        <li class="collection-item">
                            <span><%= p.asLongString() %></span>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p><%= translate('REDEEM_DESCRIPTION_WITHOUT_PERKS') %></p>
            <% } %>
        </div>
        <div class="card-action">
            <% if (redeemStatus !== 'COMPLETE' && hasPerks) { %>
                <form method="post" action="<%= redeemLink %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" class="link" value="<%= translate('REDEEM_SUBMIT') %>"/>
                </form>
            <% } else if (errors.length !== 0) { %>
                <a href="#" onclick="window.location.reload();"><%= translate('REDEEM_RETRY') %></a>
            <% } else { %>
                <a href="/"><%= translate('REDEEM_BACK') %></a>
            <% } %>
        </div>
    </div>
    <% if (isUnclaimed && canShare) { %>
        <div class="card redeem-share">
            <div class="card-content">
                <span class="card-title"><%= translate('REDEEM_SHARE_TITLE') %></span>
                <p><%= translate('REDEEM_SHARE_DESCRIPTION') %></p>
                <div class="input-field">
                    <i class="material-icons prefix clickable">share</i>
                    <input id="share" type="text" readonly value="<%= shareLink %>">
                    <label for="share" class="active">Share Link</label>
                </div>
                <%- script('steps/redeem.js') %>
            </div>
        </div>
    <% } %>
</div>
<%- include('../partials/footer.ejs') %>
