<%- include('../partials/header.ejs') %>
<div class="col s12">
    <div class="card redeem">
        <form method="post" action="<%= redeemLink %>">
            <div class="card-content">
                <% if (hasPerks) { %>
                    <span class="card-title"><%= translate('REDEEM_TITLE_WITH_PERKS') %></span>
                    <p><%= translate('REDEEM_DESCRIPTION_WITH_PERKS') %></p>
                    <% perks.forEach(function (p) { %>
                        <div>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" name="<%= p.id() %>" />
                                <span><%= p.asLongString(order) %></span>
                            </label>
                        </div>
                    <% }); %>
                <% } else { %>
                    <span class="card-title"><%= translate('REDEEM_TITLE_WITHOUT_PERKS') %></span>
                    <p><%= translate('REDEEM_DESCRIPTION_WITHOUT_PERKS') %></p>
                <% } %>
            </div>
            <div class="card-action">
                <% if (hasPerks) { %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn waves-effect waves-light" type="submit">
                        <%= translate('REDEEM_SUBMIT') %>
                    </button>
                <% } else { %>
                    <a href="/"><%= translate('REDEEM_BACK') %></a>
                <% } %>
            </div>
        </form>
    </div>
    <% if (isUnclaimed && canShare) { %>
        <div class="card redeem-share">
            <div class="card-content">
                <span class="card-title"><%= translate('REDEEM_SHARE_TITLE') %></span>
                <p><%= translate('REDEEM_SHARE_DESCRIPTION') %></p>
                <div class="input-field">
                    <i class="material-icons prefix clickable">share</i>
                    <input id="share" type="text" readonly value="<%= shareLink %>">
                    <label for="share" class="active">Share Link</label>
                </div>
                <%- script('steps/redeem.js') %>
            </div>
        </div>
    <% } %>
</div>
<%- include('../partials/footer.ejs') %>
