<%- include('../partials/header.ejs') %>
<div class="subscribe col s12 m7 l7">
    <% let index = 1; %>
    <h3><%= translate('PAYPAL_SUBSCRIPTION_TITLE') %></h3>
    <h5><%= translate('DONATE_SUMMARY_TITLE', {params: {index: index++}}) %></h5>
    <div class="summary">
        <label><%= translate('SUBSCRIBE_CYCLE_LABEL') %></label>
        <span>
            <%= translate('SUBSCRIBE_CYCLE_MONTHLY') %>
        </span>
        <label><%= translate('DONATE_SUMMARY_USER_LABEL') %></label>
        <span>
            <span><img class="image"
                       src="<%= imagePath('steam_logo.svg') %>"> <%= user.steam.name %> (<%= user.steam.id %>)</span>
            <span><img class="image" src="<%= imagePath('discord.svg') %>"> <%= user.username %></span>
        </span>
    </div>

    <form action="/subscribe" method="post">
        <%- include('../partials/perk_details.ejs', {index: index++}) %>
        <%- include('../partials/vats.ejs', {index: index++}) %>

        <h5><%= translate('DONATE_SUBSCRIBE_TITLE', {params: {index: index++}}) %></h5>
        <p>
            <%= translate('PAYPAL_SUBSCRIPTION_DESCRIPTION') %>
        </p>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <% paymentMethods.forEach((p) => { %>
            <div>
                <div class="name">
                    <% if (p.logo) { %>
                        <img src="<%= imagePath('payments/' + p.logo) %>">
                    <% } %>
                    <%= translate('PAYMENT_METHOD_' + p.name.toUpperCase()); %>
                </div>
                <button class="btn waves-effect waves-light" name="method" value="<%= p.name %>" type="submit">
                    <div></div>
                </button>
            </div>
        <% }); %>
    </form>
</div>
<%- include('../partials/package-information.ejs') %>
<%- include('../partials/footer.ejs') %>
