<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% if (locals.csrfToken) { %>
        <meta name="csrf-token" content="<%= csrfToken %>">
    <% } %>
    <% if (locals.withOpenGraph) { %>
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Server Donation Tool">
        <% if (community.title) { %>
            <meta property="og:title" content="Easily donate to <%= community.title %> and get rewarded">
        <% } else { %>
            <meta property="og:title" content="Easily donate to our community and get rewarded">
        <% } %>
        <meta property="og:description" content="With this server donation tool, donating to this community is easily done in a fraction of your time. We appreciate your support!">
        <% if (locals.absoluteLogoUrl) { %>
            <meta property="og:image" content="<%= absoluteLogoUrl %>">
        <% } %>
        <meta name="twitter:card" content="summary">
    <% } %>
    <title>Donations - <%= community.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <% stylesheets.forEach(function (path) { %>
        <link rel="stylesheet" href="<%= path %>">
    <% }); %>

    <% if (locals.googleAnalyticsTrackingId) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= locals.googleAnalyticsTrackingId %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<%= locals.googleAnalyticsTrackingId %>', { 'anonymize_ip': true });
        </script>
    <% } %>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <% if (community.logoUrl) { %>
                    <div class="brand-logo">
                        <a href="/"><img src="<%= community.logoUrl %>"></a>
                    </div>
                <% } %>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li>
                        <a href="/">
                            <% if (community.title) { %>
                                <%= community.title %>
                            <% } else { %>
                                <%= translate('HEADER_DONATE') %>
                            <% } %>
                        </a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="logout hide-on-med-and-down">
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
