<% if (needsFurtherSelection) { %>
    <h5><%= translate('DONATE_PERKS_SUBJECT_SELECTION_TITLE', {params: {index: index}}) %></h5>
    <p><%= translate('DONATE_PERKS_SUBJECT_SELECTION_DESCRIPTION') %></p>
    <% selectedPackage.perks.forEach(function (perk) { %>
        <% const hints = interfaceHints.get(perk.id()); %>
        <% if (perk.subjects() || (hints.notices && hints.notices.length !== 0)) { %>
            <h6><%= perk.asShortString() %></h6>
        <% } %>
        <% if (perk.subjects()) { %>
            <select class="browser-default" name="<%= perk.id() %>">
                <% perk.subjects().forEach(function (label, id) { %>
                    <option value="<%= id %>"><%= label %></option>
                <% }); %>
            </select>
        <% } %>
        <% if (hints.notices) { %>
            <% hints.notices.forEach(function (notice) { %>
                <div class="perk-notice">
                    <img src="<%= imagePath('light-bulb-svgrepo-com.svg') %>">
                    <%= notice %>
                </div>
            <% }); %>
        <% } %>
    <% }); %>
<% } %>
