<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% if (locals.csrfToken) { %>
        <meta name="csrf-token" content="<%= csrfToken %>">
    <% } %>
    <title>Donations - <%= community.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <% if (community.logoUrl) { %>
                    <div class="brand-logo">
                        <a href="/"><img src="<%= community.logoUrl %>"></a>
                    </div>
                <% } %>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="/">
                            <% if (community.title) { %>
                                <%= community.title %>
                            <% } else { %>
                                <%= translate('HEADER_DONATE') %>
                            <% } %>
                        </a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
