<div class="col s12 m9 l9">
    <div class="card paypal">
        <div class="card-content">
            <span class="card-title"><%= translate('PAYPAL_DONATION_TITLE') %></span>
            <p>
                <%- translate('PAYPAL_DESCRIPTION') %>
            </p>
            <h5><%= translate('PAYPAL_SELECTED_PACKAGE') %></h5>
            <p>
                <%= selectedPackage.name %><br>
                <%= selectedPackage.price.currency + ' ' + selectedPackage.price.amount %>
            </p>
            <div class="input-field">
                <textarea id="custom-message" class="materialize-textarea" maxlength="255"></textarea>
                <label for="custom-message" class="active"><%= translate('PAYPAL_CUSTOM_MESSAGE') %></label>
            </div>
            <div class="status">
                <% if (paymentStatus === 'ERROR') { %>
                    <i class="material-icons error">highlight_off</i> <%= translate('PAYPAL_ERROR') %>
                <% } %>
            </div>
        </div>
        <% if (paymentStatus === 'UNSTARTED') { %>
            <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
            <div class="card-action" id="paypal-button-container"></div>
            <script src="/assets/js/steps/donate.js"></script>
        <% } %>
    </div>
</div>
