<form action="/selectPackage" method="post">
    <div class="col s12 m6 l9">
        <div class="card package">
            <div class="card-content">
                <span class="card-title"><%= translate('PERK_SELECTION_TITLE') %></span>
                <ul class="collection">
                    <% availablePackages.forEach(function (pack, index) { %>
                        <li class="collection-item">
                            <label>
                                <input class="with-gap" type="radio" name="package" value="<%= pack.id %>"
                                       <% if (index === 0) { %>checked
                                        <% } %>
                                >
                                <span>
                                    <%= pack.name %>
                                    <% if (pack.price.type === 'FIXED') { %>
                                        (<%= pack.price.currency %> <%= pack.price.amount %>)
                                    <% } %>
                                </span>
                                <% if (pack.description) { %><div><%= pack.description %></div><% } %>
                                <div class="package-information">
                                    <% if (pack.price.type === 'VARIABLE') { %>
                                        <div class="input-field">
                                            <input id="price" name="price-<%= pack.id %>" type="text"
                                                   pattern="^(([0-9]+)|(([0-9]+)?[.,][0-9]{1,2}))$"
                                                   title="<%= translate('PERK_SELECTION_VARIABLE_TITLE') %>" value="<%= pack.price.amount %>">
                                            <label for="price"
                                                   class="active"><%= translate('PERK_SELECTION_VARIABLE_LABEL', {params: {currency: pack.price.currency}}) %></label>
                                        </div>
                                    <% } %>
                                    <% if (pack.perks.length !== 0) { %>
                                        <%= translate('PERK_INCLUDED') %>
                                        <% pack.perks.forEach(function (p) { %>
                                            <span><%= p.asTranslatedString() %></span>
                                        <% }); %>
                                    <% } %>
                                </div>
                            </label>
                        </li>
                    <% }); %>
                </ul>
                <% if (availablePackages.length === 0) { %>
                    <%= translate('PERK_NO_AVAILABLE') %>
                <% } %>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action"
                <% if (availablePackages.length === 0) { %>
                        disabled
                        <% } %>
                >
                    <%= translate('PERK_SELECTION_SELECT') %>
                </button>
            </div>
        </div>
    </div>
</form>
