<form action="/selectPackage" method="post">
    <div class="col s12 m6 l9">
        <div class="card perk">
            <div class="card-content">
                <span class="card-title"><%= translate('PERK_SELECTION_TITLE') %></span>
                <ul class="collection">
                    <% availablePackages.forEach(function (package, index) { %>
                        <li class="collection-item">
                            <label>
                                <input class="with-gap" type="radio" name="package" value="<%= package.id %>"
                                       <% if (index === 0) { %>checked
                                        <% } %>
                                >
                                <span><%= package.name %> (<%= package.price.currency %> <%= package.price.amount %>)</span>
                            </label>
                        </li>
                    <% }); %>
                </ul>
                <% if (availablePackages.length === 0) { %>
                    <%= translate('PERK_NO_AVAILABLE') %>
                <% } %>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action"
                <% if (availablePackages.length === 0) { %>
                        disabled
                        <% } %>
                >Select
                </button>
            </div>
        </div>
    </div>
</form>
