<div class="col s12 m9 l9">
    <div class="card redeem">
        <div class="card-content">
            <span class="card-title"><%= translate('PRIORITY_QUEUE_TITLE') %></span>
            <% if (redeemStatus === 'COMPLETE') { %>
                <ul class="collection">
                    <% results.forEach(function (r) { %>
                        <li class="collection-item status">
                            <i class="material-icons success">check_circle</i> <%= translate(...r) %>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p><%= translate('PRIORITY_QUEUE_DESCRIPTION') %></p>
            <% } %>
        </div>
        <div class="card-action">
            <% if (redeemStatus !== 'COMPLETE') { %>
                <a href="./redeem"><%= translate('PRIORITY_QUEUE_REDEEM') %></a>
            <% } else { %>
                <a href="/"><%= translate('PRIORITY_QUEUE_BACK') %></a>
            <% } %>
        </div>
    </div>
</div>
