<%- include('partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s0">
            <div class="card missing-account-connection">
                <div class="card-image">
                    <img class="image" src="<%= imagePath('discord.svg') %>">
                    <img class="connector" src="<%= imagePath('connector.svg') %>">
                    <img class="image" src="<%= imagePath(login + '_logo.svg') %>">
                </div>
                <div class="card-content">
                    <span class="card-title">
                        <%= translate('ERROR_MISSING_STEAM_TITLE', {params: {account: translate('ACCOUNT_' + login)}}) %>
                    </span>
                    <p>
                        <%- translate('ERROR_MISSING_STEAM_DESCRIPTION', {params: {account: translate('ACCOUNT_' + login)}}) %>
                    </p>
                    <img src="<%= imagePath('how_connect_steam.png') %>">
                </div>
                <div class="card-action">
                    <a href="/auth/discord/redirect"><%= translate('ERROR_MISSING_STEAM_TRY_AGAIN') %></a>
                </div>
            </div>
        </div>
        <% if (supportsSteamLogin && login == 'steam') { %>
            <div class="col s4 offset-s0">
                <div class="card steam-login">
                    <div class="card-image">
                        <img class="image" src="<%= imagePath('steam.png') %>">
                    </div>
                    <div class="card-content">
                    <span class="card-title">
                        <%= translate('ERROR_MISSING_STEAM_LOGIN_TITLE') %>
                    </span>
                        <p>
                            <%- translate('ERROR_MISSING_STEAM_LOGIN_DESCRIPTION') %>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/auth/steam/redirect"><%= translate('ERROR_MISSING_STEAM_LOGIN') %></a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%- include('partials/footer.ejs') %>
