<%- include('partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4 offset-m4 m4">
            <div class="card">
                <div class="card-image">
                    <i class="material-icons error">highlight_off</i>
                </div>
                <div class="card-content">
                    <span class="card-title">
                        <%= translate('ERROR_STEAM_ID_MISMATCH_TITLE') %>
                    </span>
                    <p>
                        <%= translate('ERROR_STEAM_ID_MISMATCH_DESCRIPTION') %>
                    </p>
                    <div>
                        <label><%= translate('ERROR_STEAM_ID_MISMATCH_USER_LABEL') %></label>
                        <div>Steam: <%= gameId.steam %></div>
                        <div>PlayStation Network: <%= gameId.playstation %></div>
                        <div>XBox: <%= gameId.xbox %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
